<!DOCTYPE html>
<html lang="en">
<head>

    <title>BAT AI</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <nav>
        <h1>BAT AI</h1>
    </nav>
    <div id="inputarea">
    </div>
    <div>
        <input id="userinput" type="text" placeholder="how can i help you">
        <button onclick="sendmessage()">send</button>
    </div>
    <script src="{{url_for('static',filename='js/scripts.js')}}",></script>
</body>
</html>