*{
    top: 0%;
    margin-left: 0;
}
nav{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 5px;
}
div{
    text-align: center;
    position: relative;
    background-color: black;

}

input{
   padding-bottom: 30px;
   padding-top:50px;
   border-radius: 10px;
   padding-left:30%;
   padding-right: 30%;
   font-size:large;
}
#inputarea{
    width:100%;
    height: 400px;
    background-image:url('/static/images/batman4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    bottom: 0;
    border-radius:10px;
    display: inline-block;
    overflow-y: auto;
    

}
.user{
    background-color:aliceblue;
    color: black;
    padding:10px;
    width:min-content;
    display: block;
    left:80%;
    border-radius: 10px;
    font-size: large;

}
.ai{
    background-color:aliceblue;
    color:black;
    padding:10px;
    display: inline-block;
    right: 8%;
    border-radius: 10px;
    width:auto;
    width: 1000px;
    margin-top:10px;
    font-size:larger;

}
body{
    background-color: black;
}